:root {
/* ### Primary */
--Blue: hsl(246, 80%, 60%);
--orange/* (work) */: hsl(15, 100%, 70%);
--Softblue/* (play) */: hsl(195, 74%, 62%);
--Lightred/* (study) */: hsl(348, 100%, 68%);
--Limegreen/* (exercise) */: hsl(145, 58%, 55%);
--Violet/* (social) */: hsl(264, 64%, 52%);
--Softorange/* (self care) */: hsl(43, 84%, 65%);

/* ### Neutral */
--Verydarkblue: hsl(226, 43%, 10%);
--Darkblue: hsl(235, 46%, 20%);
--Desaturatedblue: hsl(235, 45%, 61%);
--PaleBlue: hsl(236, 100%, 87%);
}

body {
    background-color: var(--Verydarkblue);
    color: white;
    font-family: 'Rubik', sans-serif;
    display: grid;
    place-items: center;
}

.profile-container {
    background-color: var(--Blue);
}

main, 
section,
.content-container {
    background-color: var(--Darkblue);
}

.rounded-container {
    border-radius: 20px;
}

section {
    position: relative;
    z-index: -1;
}

section > img {
    position: absolute;
    z-index: -1;
    left: 35px;
}

.content-container {
   margin-top: 2.5em;
}

.work-container {
    background-color: var(--orange);
}

.play-container {
    background-color: var(--Softblue);
}

.study-container {
    background-color: var(--Lightred);
}

.exercise-container {
    background-color: var(--Limegreen);
}

.social-container {
    background-color: var(--Violet);
}

.selfcare-container {
    background-color: var(--Softorange);
}



/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }